@import url(ball.css) screen and (min-width: 769px); /* 769以上 */
@import url(ball_tablet.css) screen and (max-width: 768px); /* 768以下 */
@import url(ball_smart.css) screen and (max-width: 320px); /* 320以下 */

#stop-button {
	background-color: coral;
	width: 60px;
	height: 30px;
}

#start-button {
	background-color: azure; 
	width: 60px;
	height: 30px;
}

#add-button {
	width: 60px;
	height: 30px; 
}

.hidden{
	display : none;
}

.red {
	background-color: red;
}

.black {
	background-color: black;
}

.pink {
	background-color: pink;
}

.gray {
	background-color: gray;
}

.green {
	background-color: green;
	opacity: 0.7;
}

.line {
	width: 100px;
	height: 10px;
	position: absolute;
	background-color: #a0a0a0;

	-webkit-transform:rotate(30deg);
	-moz-transform:rotate(30deg);
	-o-transform:rotate(30deg);
	-ms-transform:rotate(30deg);
	transform:rotate(30deg);
}
