@import url(ball.css) screen and (min-width: 769px); /* 769以上 */
@import url(ball_tablet.css) screen and (max-width: 768px); /* 768以下 */
@import url(ball_smart.css) screen and (max-width: 320px); /* 320以下 */

.red {
	background-color: red;
}

.black {
	background-color: black;
}

.pink {
	background-color: pink;
}

.gray {
	background-color: gray;
}