body {
    color: #000;
    font-family:Monospace;
    font-size:13px;
    margin: 0px;
    overflow: hidden;
}

.hide {
    display: none;
}

/* control panel */

.info{
    position: absolute;
    margin-left: 15px;
    top: 0;
}

.info ul {
    list-style: none;
    width: 100%;
    color: white;
    margin: 0;
    padding: 0;
}

.info-li {
    border-left: 3px solid #2fa1d6;
    background: rgba(26, 26, 26, 0.88);
    border-bottom: 1px solid #2c2c2c;   
    cursor: auto;
    height: 27px;
    line-height: 27px;
    overflow: hidden;
    padding: 0 4px 0 5px;
}
.item-value input {
    color: #2fa1d6;
    background: #303030;
    outline: none;
    width: 30%;
    border: 0;
    margin-top:4px;
}

.info-button{
    color: #2fa1d6;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 0px 4px 2px rgba(140, 150, 138, 0.98);
    user-select: none;
}

.info-button:active{    
    box-shadow: inset 0px 0px 8px 1px rgba(140, 150, 138, 0.98);
}

.on-off-title{
    top: -10px;
    position: relative;
}

input[type="checkbox"].info-on-off-button {
    appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    margin: 4px 4px 4px 10px;
    width: 50px;
    height: 20px;
    border: 0px solid rgba(0,0,0,0.0);
    border-radius: 50px;
    background-color: #ddd;
    transition: background-color .4s ease;
}

input[type="checkbox"].info-on-off-button:checked {
    background-color: #bbb;
}

 input[type="checkbox"].info-on-off-button + label {
    position: relative;
    display: inline-block;
    left: -60px;
    width: 24px;
    height: 24px;
    border: 0px solid rgba(0,0,0,0.0);
    border-radius: 50%;
    background-color: #eee;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
    transition: left .4s ease, background-color .4s ease;
    top: -3px;
}

input[type="checkbox"].info-on-off-button:checked + label {
   position: relative;
    display: inline-block;
    top: -2px;
    left: -20px;
    width: 24px;
    height: 24px;
    border: 0px solid rgba(0,0,0,0.0);
    border-radius: 50%;
    background-color: #00bbd3;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
}

input[type="checkbox"].info-on-off-button:focus {
    outline: none;
}

.info-toggle-button{
    webkit-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
    border: 0;
    position: absolute;
    line-height: 19px;
    height: 20px;
    cursor: pointer;
    text-align: center;
    background-color: rgba(1, 25, 22, 0.87);
    width: 100%;
    color: white;
}

.open-button{
    width: 200px;
}

/* 以下スタート画面UI */
.ui-widgets {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.select-fighter-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.select-fighter-container .model-detail {
    background-color: rgba(11, 11, 11, 0.17);
    margin: 0 20px
}

.select-fighter-container .model-name {
    width: 100%;
    text-align: center;
    position: relative;
    padding-top: 10px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-shadow: 4px 2px 4px #000000;
}

.performance-elem:nth-child(odd) {
    float:left;
}

.performance-elem:nth-child(even) {
    width: 50px;
    right: 0;
    margin-left: auto;
}

.model-detail .performance-list {
    font-size: 15px;
    font-weight: bold;
    top: -7px;
    position: relative;
    text-shadow: 2px 2px 1px #053cab;
    color: #ffffff;
    
}

.model-detail .performance-list .performance-elem {
    padding: 0px 40px 10px;
    width: 100px;
}

.performance-elem .performance-title {
    float: left;
}

.performance-elem .performance-bar {
   background-color: rgb(205, 255, 251);
    height: 6px;
    box-shadow: 2px 1px 20px 1px #23d7fd;
    margin-top: 5px;
    border-radius: 1px 1px 5px 1px;

    transition-duration:0.3s;
    -moz-transition-duration:0.3s;
    -webkit-transition-duration:0.3s;
    -o-transition-duration:0.3s;
    -ms-transition-duration:0.3s;
    transition-timing-function:ease-out;
    /*transition-timing-function:ease-in-out; */
}

.performance-elem .performance-number {
    
}

.performance-list .nation-flag {
    width: 50px;
    background-size: cover;
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    margin: auto;
    box-shadow: 4px 4px 17px 1px #121212;
    top: 20px;
}

.select-arrows {
    position: relative;
    margin: 0px 10px 0px;
    height: 70%;
    height: -webkit-calc(100% - 135px);
    height: calc(100% - 135px);
}

.arrow-group {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 25px;
}

.arrow-group:active {
    background-color: rgba(136, 170, 165, 0.37);
    box-shadow: 0px 0px 20px 0px #eff4f3;
}

.left-arrow-group {
    padding: 5px 0px 5px 10px;
}

.right-arrow-group {
    right: 0;
    padding: 5px 10px 5px 0px;
}

.arrow-part {
    width: 7px;
    height: 20px;
    background-color: #c7feff;
    box-shadow: 0px 0px 10px 1px #a3fae2;
}

.left-arrow-group .arrow-top-part{
    -moz-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -moz-transform: skewX(-25deg);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.left-arrow-group .arrow-bottom-part{
    -moz-transform-origin: 100% 0;
    -webkit-transform-origin:100% 0;
    transform-origin: 100% 0;
    -moz-transform: skewX(25deg);
    -webkit-transform: skewX(25deg);
    transform: skewX(25deg);
}

.right-arrow-group .arrow-top-part {
    -moz-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -moz-transform: skewX(25deg);
    -webkit-transform: skewX(25deg);
    transform: skewX(25deg);

    right: 0;
    margin-left: auto;
}

.right-arrow-group .arrow-bottom-part {
   -moz-transform-origin: 100% 0;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -moz-transform: skewX(-25deg);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);

    right: 0;
    margin-left: auto;
}


.parallelogram {
    -moz-transform-origin:0 100%;
    -webkit-transform-origin:0 100%;
    transform-origin:0 100%;
    -moz-transform:skewX(-25deg);
    -webkit-transform:skewX(-25deg);
    transform:skewX(-25deg);
}

/* ゲーム中画面UI */

.sighting {
   width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-image: url(images/sighting.png);
    background-size: cover;
    box-shadow: inset 0px 0px 8px 1px;
    background-color: rgba(251, 173, 7, 0.16);  

}

.sighting:active{
    background-color: rgba(152, 52, 24, 0.43);    
}

.blood-splash {
    position: absolute;
    width: 100%;
    height: 130%;
    background-size: cover;
    background-image: url(images/blood_splash.png);
    pointer-events: none;
    opacity: 0.9;
    background-position-y: 30%;
}

.ui-button, .ui-buton-mini{
    position: relative;
    margin: auto;
}

.start-button {
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
    width: 30%;
    margin: auto;

}

.start-back {
    top: 20%;
    bottom: 0%;
}

.restart-button  {
    width: 50%;
    left: 0;
    right: 0;
    margin: 20px auto 10px;
}

.back-button {
    width: 50%;
    left: 0;
    right: 0;
    margin: 10px auto;
}

.start-button .disable {
    opacity: 0.5;
    font-size: 40px;
}

.hexagon {
    width: 97%;/* width: 40%; */
    height: 80px;
    background-color: #64C7CC;
    background: -moz-linear-gradient(top,#80CCE6,#80CCE6 5%,#09C 5%,#069 95%,#069 95%,#00293D);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(75, 103, 112, 0)), color-stop(0.05,#80CCE6), color-stop(0.05,#09C), color-stop(0.95,#069), color-stop(0.95,rgba(128, 130, 131, 0.98)), to(rgba(0, 41, 61, 0.01)));
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    line-height: 80px;
    font-size: 50px;
    text-shadow: 0px 0px 16px #040404;
    color: white;
    cursor: pointer;
    opacity: 0.8;
    user-select: none;
}

.hexagon:before,
.hexagon:after {
    position: absolute;
    content: "";
    border: 40px solid transparent;
    background-color: rgba(0, 0, 0, 0);
    top: 0%;
}

.hexagon:before {
    border-right: 40px solid #0088bb;   
    left: -80px;
}

.hexagon:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(75, 103, 112, 0)), color-stop(0.05,#94a9b0), color-stop(0.05,#4fc1d0), color-stop(0.95,#047dbb), color-stop(0.95,rgba(128, 130, 131, 0.98)), to(rgba(0, 41, 61, 0.01)));
}

.hexagon:active {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(75, 103, 112, 0)), color-stop(0.05,#80CCE6), color-stop(0.05,#aed4e0), color-stop(0.95,#087ab3), color-stop(0.95,rgba(128, 130, 131, 0.98)), to(rgba(0, 41, 61, 0.01)));
}

.hexagon:hover:before {
    border-right: 40px solid #32a4cf;
}

.hexagon:active:before {
    border-right: 40px solid #74bcd7;
}

.hexagon:after {
    border-left: 40px solid #0088bb;
    left: 100%;
}

.hexagon:hover:after {
    border-left: 40px solid #32a4cf;
}

.hexagon:active:after {
    border-left: 40px solid #74bcd7;
}

.hexagon2 {
    box-shadow: 0px 0px 9px 1px rgba(193, 193, 193, 0.91);
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    /* width: 43%;  */
    height: 90px;
    background-color: #484848;
    background: -moz-linear-gradient(top,#80CCE6,#80CCE6 5%,#09C 5%,#069 95%,#069 95%,#00293D);
    /* background: -webkit-gradient(linear, left top, left bottom, from(#66696a), color-stop(0.05,#808181), color-stop(0.05,#646565), color-stop(0.95,#636565), color-stop(0.95,#00293D), to(#00293D)); */
}

.hexagon2:before,
.hexagon2:after {
   position: absolute;
    content: "";
    border: 45px solid transparent;
    background-color: rgba(0, 0, 0, 0);
    top: 0%;
}

.hexagon2:before {
      border-right: 40px solid #545454;
    left: -85px;
}

.hexagon2:after {
   border-left: 40px solid #666667;
    left: 100%;
}

.ui-button-mini .hexagon {
    width: 97%;
    height: 34px;
    font-size: 28px;
    line-height: 34px;
}

.ui-button-mini .hexagon:before, .ui-button-mini .hexagon:after {
   border: 17px solid transparent;
}

.ui-button-mini .hexagon:before {
    border-right: 17px  solid #0088bb;
    left: -34px;
}

.ui-button-mini .hexagon:after {
    border-left: 17px solid #0088bb;
    left: 100%;
}

.ui-button-mini .hexagon2 {
    height: 36px;
}

.ui-button-mini .hexagon2:before, .ui-button-mini .hexagon2:after {
   border: 18px solid transparent;
}

.ui-button-mini .hexagon2:before {
   border-right: 18px solid #605e5e;
    left: -36px;
}

.ui-button-mini .hexagon2:after {
   border-left: 18px solid #666667;
    left: 100%;
}

.ui-button-mini .hexagon:hover:before {
    border-right: 17px solid #32a4cf;
}

.ui-button-mini .hexagon:active:before {
    border-right: 17px solid #74bcd7;
}

.ui-button-mini .hexagon:hover:after {
    border-left: 17px solid #32a4cf;
}

.ui-button-mini .hexagon:active:after {
    border-left: 17px solid #74bcd7;
}




.game-over {
    position: absolute;
    text-align: center;
    cursor: pointer;
    user-select: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.32);
}

.game-over p {
    position: relative;
    top: 0;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    font-size: 86px;
    text-shadow: 3px 3px 7px #000000;
    color: #c10606;    
    font-weight: bold;
}

.meter-group {
    position: absolute;
    top: 65%;
    left: 0%;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 50%;
    pointer-events: none;
}

.meter {
    position: absolute;
    width: 40%;
    pointer-events: none;
}

.meter canvas {
    pointer-events: none;
}

#compass-meter {
    left: 50%;
}

.arrow {
    background-image: url("./images/arrow.png");
    background-size: contain;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;

}

.life-gauge-group {
    position: relative;
    width: 8px;
    border: 1px solid #9e9e9e;
    background-color: black;
    box-shadow: 0px 0px 4px 0px #c3c0f3;
    right: 0;
    margin-left: auto;
    height: 80%;
    top: 10%;
}

#life-gauge-child {
    position: absolute;
    width: 96%;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    background-color: #8dcc8d;
    box-shadow: 0px -1px 6px 0px #6bda53;
    background: -webkit-gradient(linear, left top, right top, from(rgba(75, 103, 112, 0)), color-stop(0.05,#9bd038), color-stop(0.95,#1a8e00), color-stop(0.95,rgba(38, 111, 148, 0.98)), to(rgba(0, 41, 61, 0.01)));
}

#life-gauge-child.danger-status {
    background: -webkit-gradient(linear, left top, right top, from(rgba(75, 103, 112, 0)), color-stop(0.05,#ef5555), color-stop(0.95,#7d2211), color-stop(0.95,rgba(148, 38, 38, 0.98)), to(rgba(0, 41, 61, 0.01)));
    box-shadow: 0px -1px 6px 0px #da6653;
}


/* side screen lock */
@media screen and (orientation: landscape) {
   /* 横向きの場合のスタイル */
}
@media screen and (orientation: portrait) {
    @media screen and (max-width: 768px){ /* 768以下 */

   /* 縦向きの場合のスタイル */
   .side-screen {
        transform: rotateZ(90deg);
    }
    }
}
