body {
    color: #000;
    font-family:Monospace;
    font-size:13px;
    margin: 0px;
    overflow: hidden;
}

.hide {
    display: none;
}

.info{
    position: absolute;
    margin-left: 15px;
}

.info ul {
    list-style: none;
    width: 100%;
    color: white;
    margin: 0;
    padding: 0;
}

.info-li {
    border-left: 3px solid #2fa1d6;
    background: rgba(26, 26, 26, 0.88);
    border-bottom: 1px solid #2c2c2c;   
    cursor: auto;
    height: 27px;
    line-height: 27px;
    overflow: hidden;
    padding: 0 4px 0 5px;
}
.item-value input {
    color: #2fa1d6;
    background: #303030;
    outline: none;
    width: 30%;
    border: 0;
    margin-top:4px;
}

.info-button{
    color: #2fa1d6;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 0px 4px 2px rgba(140, 150, 138, 0.98);
    user-select: none;
}

.info-button:active{    
    box-shadow: inset 0px 0px 8px 1px rgba(140, 150, 138, 0.98);
}

.on-off-title{
    top: -10px;
    position: relative;
}

input[type="checkbox"].info-on-off-button {
    appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    margin: 4px 4px 4px 10px;
    width: 50px;
    height: 20px;
    border: 0px solid rgba(0,0,0,0.0);
    border-radius: 50px;
    background-color: #ddd;
    transition: background-color .4s ease;
}

input[type="checkbox"].info-on-off-button:checked {
    background-color: #bbb;
}

 input[type="checkbox"].info-on-off-button + label {
    position: relative;
    display: inline-block;
    left: -60px;
    width: 24px;
    height: 24px;
    border: 0px solid rgba(0,0,0,0.0);
    border-radius: 50%;
    background-color: #eee;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
    transition: left .4s ease, background-color .4s ease;
    top: -3px;
}

input[type="checkbox"].info-on-off-button:checked + label {
   position: relative;
    display: inline-block;
    top: -2px;
    left: -20px;
    width: 24px;
    height: 24px;
    border: 0px solid rgba(0,0,0,0.0);
    border-radius: 50%;
    background-color: #00bbd3;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
}

input[type="checkbox"].info-on-off-button:focus {
    outline: none;
}

.info-toggle-button{
    webkit-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
    border: 0;
    position: absolute;
    line-height: 19px;
    height: 20px;
    cursor: pointer;
    text-align: center;
    background-color: rgba(1, 25, 22, 0.87);
    width: 100%;
    color: white;
}

.open-button{
    width: 200px;
}

.ui-widgets {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}


.sighting {
   width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-image: url(images/sighting.png);
    background-size: cover;
    box-shadow: inset 0px 0px 8px 1px;
    background-color: rgba(251, 173, 7, 0.16);  

}

.sighting:active{
    background-color: rgba(152, 52, 24, 0.43);    
}

.blood-splash {
    position: absolute;
    width: 100%;
    height: 130%;
    background-size: cover;
    background-image: url(images/blood_splash.png);
    pointer-events: none;
    opacity: 0.9;
    background-position-y: 30%;
}

.ui-button{
    position: relative;
}

.start-button {
    margin-top: 25%;
}

.start-back {
    top: 20%;
    bottom: 0%;
}

.restart-button  {
   margin: 5px;
}

.start-button .disable {
    opacity: 0.5;
    font-size: 40px;
}

.hexagon {
    width: 40%;
    height: 80px;
    background-color: #64C7CC;
    background: -moz-linear-gradient(top,#80CCE6,#80CCE6 5%,#09C 5%,#069 95%,#069 95%,#00293D);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(75, 103, 112, 0)), color-stop(0.05,#80CCE6), color-stop(0.05,#09C), color-stop(0.95,#069), color-stop(0.95,rgba(128, 130, 131, 0.98)), to(rgba(0, 41, 61, 0.01)));
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    line-height: 80px;
    font-size: 50px;
    text-shadow: 0px 0px 16px #040404;
    color: white;
    cursor: pointer;
    opacity: 0.8;
    user-select: none;
}

.hexagon:before,
.hexagon:after {
    position: absolute;
    content: "";
    border: 40px solid transparent;
    background-color: rgba(0, 0, 0, 0);
    top: 0%;
}

.hexagon:before {
    border-right: 40px solid #0088bb;   
    left: -80px;
}

.hexagon:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(75, 103, 112, 0)), color-stop(0.05,#94a9b0), color-stop(0.05,#4fc1d0), color-stop(0.95,#047dbb), color-stop(0.95,rgba(128, 130, 131, 0.98)), to(rgba(0, 41, 61, 0.01)));
}

.hexagon:active {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(75, 103, 112, 0)), color-stop(0.05,#80CCE6), color-stop(0.05,#aed4e0), color-stop(0.95,#087ab3), color-stop(0.95,rgba(128, 130, 131, 0.98)), to(rgba(0, 41, 61, 0.01)));
}

.hexagon:hover:before {
    border-right: 40px solid #32a4cf;
}

.hexagon:active:before {
    border-right: 40px solid #74bcd7;
}

.hexagon:after {
    border-left: 40px solid #0088bb;
    left: 100%;
}

.hexagon:hover:after {
    border-left: 40px solid #32a4cf;
}

.hexagon:active:after {
    border-left: 40px solid #74bcd7;
}

.hexagon2 {
    box-shadow: 0px 0px 9px 1px rgba(193, 193, 193, 0.91);
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    width: 43%;
    height: 90px;
    background-color: #484848;
    background: -moz-linear-gradient(top,#80CCE6,#80CCE6 5%,#09C 5%,#069 95%,#069 95%,#00293D);
    /* background: -webkit-gradient(linear, left top, left bottom, from(#66696a), color-stop(0.05,#808181), color-stop(0.05,#646565), color-stop(0.95,#636565), color-stop(0.95,#00293D), to(#00293D)); */
}

.hexagon2:before,
.hexagon2:after {
   position: absolute;
    content: "";
    border: 45px solid transparent;
    background-color: rgba(0, 0, 0, 0);
    top: 0%;
}

.hexagon2:before {
      border-right: 40px solid #545454;
    left: -85px;
}

.hexagon2:after {
   border-left: 40px solid #666667;
    left: 100%;
}

.game-over {
    position: absolute;
    text-align: center;
    cursor: pointer;
    user-select: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.32);
}

.game-over p {
    position: relative;
    top: 0;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    font-size: 86px;
    text-shadow: 3px 3px 7px #000000;
    color: #c10606;    
    font-weight: bold;
}

.meter-group {
    position: absolute;
    top: 65%;
    left: 0%;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 50%;
    height: 100%;
    pointer-events: none;
}

.meter {
    position: absolute;
    width: 40%;
    pointer-events: none;
}

.meter canvas {
    pointer-events: none;
}

#compass-meter {
    left: 50%;
}

.arrow {
    background-image: url("./images/arrow.png");
    background-size: contain;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;

}


/* side screen lock */
@media screen and (orientation: landscape) {
   /* 横向きの場合のスタイル */
}
@media screen and (orientation: portrait) {
    @media screen and (max-width: 768px){ /* 768以下 */

   /* 縦向きの場合のスタイル */
   .side-screen {
        transform: rotateZ(90deg);
    }
    }
}
