body {
    color: #000;
    font-family:Monospace;
    font-size:13px;
    margin: 0px;
    overflow: hidden;
}

.hide {
    display: none;
}

.info{
    position: absolute;
    margin-left: 15px;
}

.info ul {
    list-style: none;
    width: 100%;
    color: white;
    margin: 0;
    padding: 0;
}

.info-li {
    border-left: 3px solid #2fa1d6;
    background: rgba(26, 26, 26, 0.88);
    border-bottom: 1px solid #2c2c2c;   
    cursor: auto;
    height: 27px;
    line-height: 27px;
    overflow: hidden;
    padding: 0 4px 0 5px;
}
.item-value input {
    color: #2fa1d6;
    background: #303030;
    outline: none;
    width: 30%;
    border: 0;
    margin-top:4px;
}

.info-button{
    color: #2fa1d6;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 0px 4px 2px rgba(140, 150, 138, 0.98);
    user-select: none;
}

.info-button:active{    
    box-shadow: inset 0px 0px 8px 1px rgba(140, 150, 138, 0.98);
}

.on-off-title{
    top: -10px;
    position: relative;
}

input[type="checkbox"].info-on-off-button {
    appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    margin: 4px 4px 4px 10px;
    width: 50px;
    height: 20px;
    border: 0px solid rgba(0,0,0,0.0);
    border-radius: 50px;
    background-color: #ddd;
    transition: background-color .4s ease;
}

input[type="checkbox"].info-on-off-button:checked {
    background-color: #bbb;
}

 input[type="checkbox"].info-on-off-button + label {
    position: relative;
    display: inline-block;
    left: -60px;
    width: 24px;
    height: 24px;
    border: 0px solid rgba(0,0,0,0.0);
    border-radius: 50%;
    background-color: #eee;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
    transition: left .4s ease, background-color .4s ease;
    top: -3px;
}

input[type="checkbox"].info-on-off-button:checked + label {
   position: relative;
    display: inline-block;
    top: -2px;
    left: -20px;
    width: 24px;
    height: 24px;
    border: 0px solid rgba(0,0,0,0.0);
    border-radius: 50%;
    background-color: #00bbd3;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
}

input[type="checkbox"].info-on-off-button:focus {
    outline: none;
}

.info-toggle-button{
    webkit-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
    border: 0;
    position: absolute;
    line-height: 19px;
    height: 20px;
    cursor: pointer;
    text-align: center;
    background-color: rgba(1, 25, 22, 0.87);
    width: 100%;
    color: white;
}



.open-button{
    width: 200px;
}


.sighting {
   width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-image: url(images/sighting.png);
    background-size: cover;
    box-shadow: inset 0px 0px 8px 1px;
    background-color: rgba(251, 173, 7, 0.16);  

}

.sighting:active{
    background-color: rgba(152, 52, 24, 0.43);    
}

.blood-splash {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(images/blood_splash.png);
    pointer-events: none;
    opacity: 0.9;
}


/* side screen lock */
@media screen and (orientation: landscape) {
   /* 横向きの場合のスタイル */
}
@media screen and (orientation: portrait) {
   /* 縦向きの場合のスタイル */
   .side-screen {
        transform: rotateZ(90deg);
    }

}
